extends /index

block content
      // Header
      header#header
        .inner
          // Logo
          div.logo
            span.symbol
              img(src='images/logo.svg', alt='')
            span.title Android Myrmidons
          // Nav
          nav
            ul
              li
                a(href='#menu') Menu
      // Menu
      nav#menu
        h2 Menu
        ul
          li
            a(href='/') Home
          li
            a(href='android.html') Android Myrmidon
          li
            a(href='frontend.html') Front End Myrmidon
          li
            a(href='ios.html') iOS Myrmidon
          li
            a(href='web.html') Web Myrmidon
          li
            a(href='qa.html') QA Myrmidon
          li
            a(href='security.html') Security Myrmidon
      // Main
      #main
        .inner
          span.image.main
            img(src='images/android-myrmidon.jpg', alt='')
          .list-wrap
            h2 Tools & Technologies
            ul.icon-list
              li
                a.popup-link(href='#android_studio')
                  .iconlist__title
                    h4 Android Studio 2.2
                  .icon-list__img
                    img(src='images/android/android-studio.jpg', alt='')
              li
                a.popup-link(href='#git')
                  .iconlist__title
                    h4 Git
                  .icon-list__img
                    img(src='images/android/git.jpg', alt='')
              li
                a.popup-link(href='#firebase')
                  .iconlist__title
                    h4 Firebase
                  .icon-list__img
                    img(src='images/android/firebase.jpg', alt='')
              li
                a.popup-link(href='#fastlane')
                  .iconlist__title
                    h4 Fastlane
                  .icon-list__img
                    img(src='images/android/fastlane.jpg', alt='')
              li
                a.popup-link(href='#testfairy')
                  .iconlist__title
                    h4 Testfairy
                  .icon-list__img
                    img(src='images/android/testfairy.jpg', alt='')
              li
                a.popup-link(href='#gradle')
                  .iconlist__title
                    h4 Gradle
                  .icon-list__img
                    img(src='images/android/gradle.jpg', alt='')
              li
                a.popup-link(href='#crashlytics')
                  .iconlist__title
                    h4 Crashlytics
                  .icon-list__img
                    img(src='images/android/crashlytics.jpg', alt='')
              li
                a.popup-link(href='#flurry')
                  .iconlist__title
                    h4 Flurry
                  .icon-list__img
                    img(src='images/android/flurry.jpg', alt='')
              li
                a.popup-link(href='#asset_studio')
                  .iconlist__title
                    h4 Android Asset Studio
                  .icon-list__img
                    img(src='images/android/android-asset-studio.jpg', alt='')
          .list-wrap
            h2 Follow the Best Sources
            ul.text-list
              li
                .text-list__title
                  a(href='http://developer.android.com/index.html', target='blank')
                    h4 Android Developer
              li
                .text-list__title
                  a(href='http://www.vogella.com/tutorials/android.html', target='blank')
                    h4 Vogella
              li
                .text-list__title
                  a(href='https://www.raywenderlich.com', target='blank')
                    h4 Raywenderlich
          div(style='display:none')
            #android_studio.popup
              h4 Android Studio 2.2
              p
                | Android Studio is the official IDE for Android platform development. It encompasses the fastest tools for building apps on Android devices.
              p
                | The latest version 2.2 of the Studio was announced on May 18, 2016 during the Google I/O Conference. It is powered with a reengineered UI Designer and a Constraint Layout. Plunge deeper into the new version
                a(href='http://android-developers.blogspot.in/2016/05/android-studio-22-preview-new-ui.html')  here
                br
                a(href='https://developer.android.com/studio/index.html#downloads') Download Here
            #git.popup
              h4 Git
              p
                | Git is a free distributed version control system. Android Studio comes with Git client. All we need to do is just enable and start using it. As a prerequisite, you need to have Git installed in the local system.
              p
                | Dive deeper into Git
                a(href='https://source.android.com/source/developing.html')  here
                br
                a(href='http://git-scm.com/downloads') Download Here
            #firebase.popup
              h4 Firebase
              p
                | Firebase is a mobile platform that helps you quickly develop high-quality apps, grow your user base, and earn more money. Firebase is made up of complementary features that you can mix-and-match to fit your needs.
              p
                | Dive deeper into Firebase
                a(href='https://firebase.google.com/')  here
            #fastlane.popup
              h4 Fastlane
              p
                | Fastlane is a set of tools that helps you unify and automate the app deployment or release process within a single streamlined workflow. With fastlane, you establish Continuous Delivery (CD), a design practice used in software development to automate and improve the process of software delivery.
              p
                | Get started with fastlane
                a(href='https://fastlane.tools/')  here
            #testfairy.popup
              h4 Testfairy
              p
                | TestFairy is an Android app Beta Testing and Deployment platform that lets the developer know when and how people are using the app, and provides with any metric needed to optimize for better user experience and better code.It paves way for better understanding of how the app performs on real devices.
              p
                | All you need to do is just upload your android build (.apk) file to your TestFairy account and invite the beta testers. Once the users start playing around with the app, you will get to see the reports real time.
              p
                | Know more about Testfairy
                a(href='https://testfairy.com/')  here
                br
                a(href='http://docs.testfairy.com/') Testfairy API documentation
            #gradle.popup
              h4 Gradle
              p
                | Gradle is an advanced build toolkit used to automate and manage the build process, while allowing the developer to define flexible custom build configurations. Each build configuration can define its own set of code and resources, while reusing the parts common to all versions of the app..
              p
                | Know more about Gradle
                a(href='http://gradle.org/getting-started-android/')  here
            #crashlytics.popup
              h4 Crashlytics
              p
                | Crashlytics delivers deep, rich crash reporting across devices in real-time. It performs a detailed analysis of every thread on every Android device to identify the most important issues.
              p
                | Know more about Crashlytics
                a(href='http://try.crashlytics.com/')  here
                br
                a(href='https://docs.fabric.io/android/crashlytics/index.html') SDK Documentation
            #flurry.popup
              h4 Flurry
              p
                | Flurry optimizes the mobile experience through better apps and more personal ads. It provides the tools and resources needed to gain a deep level of understanding about the users’ behavior in the apps. The user’s habits and performance can be tracked better by setting up advanced analysis of complex events, with metrics, segments and funnels.
              p
                | Get started with Flurry Analytics
                a(href='https://developer.yahoo.com/flurry/docs/analytics/gettingstarted/android')  here
            #asset_studio.popup
              h4 Android Asset Studio
              p
                | The Android Asset Studio web app by Roman Nurik is a great resource for creating icons for your Android applications. Moreover it offers a growing list of utilities to help developers create good-looking widgets.
              p
                | Know more about the Android Asset Studio
                a(href='https://romannurik.github.io/AndroidAssetStudio')  here
              br
              h4 Android Arsenal
              p It is an online directory of libraries and tools for Android developers.
              p
                | Get started with Android Arsenal
                a(href='https://android-arsenal.com/')  here
                br
                a(href='http://git-scm.com/downloads') Download Here

