doctype html
html
  head
    title TechMyrmidons
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    <!--[if lte IE 8]>
    script(src='/scripts/ie/html5shiv.js')
    <!<![endif]-->
    //link(rel='stylesheet', href='/styles/tab.css')
    link(rel='stylesheet', href='/styles/colorbox.css')
    link(rel='stylesheet', href='/styles/main.css')
    <!--[if lte IE 9]>
    link(rel='stylesheet', href='/styles/ie9.css')
    <!<![endif]-->
    <!--[if lte IE 8]>
    link(rel='stylesheet', href='/styles/ie8.css')
    <!<![endif]-->
    link(href='favicon.ico', rel='icon', type='image/x-icon')
  body
    #wrapper
      block content
        | The default content area here...
      block footer
        footer#footer
          .inner
            section
              h2 Get in touch
              form(method='post', action='#')
                .field.half.first
                  input#name(type='text', name='name', placeholder='Name')
                .field.half
                  input#email(type='email', name='email', placeholder='Email')
                .field
                  textarea#message(name='message', placeholder='Message')
                ul.actions
                  li
                    input.special(type='submit', value='Send')
            section
              h2 Follow
              ul.icons
                li
                  a.icon.style2.fa-twitter(href='#')
                    span.label Twitter
                li
                  a.icon.style2.fa-facebook(href='#')
                    span.label Facebook
                li
                  a.icon.style2.fa-github(href='#')
                    span.label GitHub
                li
                  a.icon.style2.fa-envelope-o(href='#')
                    span.label Email.
            ul.copyright
              li © techmyrmidons.com
    block scripts
      script(src='/scripts/jquery.min.js')
      script(src='/scripts/skel.min.js')

      script(src='/scripts/util.js')

      script(src='/scripts/ie/respond.min.js')
      script(src='/scripts/jquery.colorbox.js')
      script(src='/scripts/jquery.easytabs.min.js')
      script(src='/scripts/main.js')
