<footer>
  <div id="footer" class="row">
      <div class="large-8 columns">
        <h3>Get in touch</h3>
        <form>
          <div class="columns medium-6">
            <input id="name" type="text" name="name" placeholder="Name">
          </div>
          <div class="columns medium-6">
            <input id="email" type="text" name="email" placeholder="Email">
          </div>
          <div class="textarea-wrapper columns">
            <textarea id="message" name="message" placeholder="Message" rows="2"></textarea>
          </div>
          <div class="columns ">
            <input id="submit" type="submit" name="submit" value="submit">
          </div>
        </form>
      </div>
      <div class="large-4 columns social-wrap">
        <h3>Follow</h3>
        <ul class="social"> 
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> 
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> 
          <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li> 
          <li><a href="#" class="icon fa-envelope-o"><span class="label">Email.</span></a></li> 
        </ul>
      </div>     
  </div>
</footer>
<div class="small-12 columns copyright">
  <p class="text-center">© techmyrmidons.com</p> 
</div>