<div class="menu-btn-wrap">
  <a href="#" id="nav-toggle" class=""><span></span></a>
</div>

<div class="menu-bar" id="side-menu">
  <ul class="menu-list">
    <li><a href="index.html">Home</a></li>
    <li><a href="view.html?tech=android">Android myrmidon</a></li>
    <li><a href="view.html?tech=ios">iOS myrmidon</a></li>
    <li><a href="view.html?tech=frontend">Frontend myrmidon</a></li>
    <li><a href="view.html?tech=web">Web myrmidon</a></li>
    <li><a href="view.html?tech=devops">DevOps myrmidon</a></li>
    <li><a href="view.html?tech=qa">QA myrmidon</a></li>
  </ul>
</div>

