.section-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.937rem 1.875rem;
  gap: 0.625rem;
  background: black;
  margin: 1.875rem auto;
  border-radius: 3.125rem;
}

.section-btn {
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}
